.d-flex {
  display: flex;
  gap: 5px;
}

.footnote {
  margin: 0;
  margin-bottom: 5px;
  font-size: 10px;
  color: #9b9b9b;
}

/* form-group */

.form-group__fieldset {
  margin-bottom: 10px;
  padding: 0;
  border: 0;
}

.form-group__title {
  margin-bottom: 10px;
  color: #575757;
  font-weight: 700;
}

/* input */

.input__input {
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.input__label {
  display: block;
  padding: 4px;
  width: 100%;
  height: 38px;
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  color: #9b9b9b;
  font-size: 10px;
  transition: all 0.2s ease-out;
  margin-bottom: 5px;
}

.input__label:focus-within {
  border: 1px solid #bebebe;
  color: #bebebe;
}

/* radio */

.radio__container {
  display: flex;
  gap: 5px;
}

.radio__title {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 700;
  color: #575757;
}

.radio__input {
  position: absolute;
  margin: 0;
  opacity: 0;
  z-index: -1;
}

.radio__label {
  position: relative;
  display: flex;
  margin-bottom: 5px;
  padding-left: 17px;
  padding-right: 10px;
  font-size: 12px;
}

.radio__label:last-child {
  padding-right: 0;
}

.radio__input+span::before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border: 2px solid #9b9b9b;
  border-radius: 4px;
}

.radio__input+span:active::before {
  border: 2px solid #bebebe;
}

.radio__input:checked+span::before {
  border: 2px solid #87cefa;
  background: #87cefa;
}

/* button */

.button__input {
  height: 30px;
  color: #fff;
  border: 2px solid #87cefa;
  border-radius: 4px;
  background: #87cefa;
}

.button__input:hover {
  cursor: pointer;
}

.button__input:active {
  background: #fff;
  color: #575757;
}

/* select */

.select-container {
  position: relative;
  font-size: 10px;
}

.select__options-group {
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 150px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background: #fff;
  overflow: auto;
  z-index: 10;
}

.select__option {
  list-style: none;
  height: 30px;
  padding: 10px;
  color: #575757;
}

.select__option:hover {
  background: #87cefa;
  color: #fff;
}